{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets 'bundles/app/css/jquery-ServerSideDataTable.css' filter='cssrewrite' output='css/compiled/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts '@AppBundle/Resources/public/js/jquery-ServerSideDataTable.js' output='js/compiled/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

        $.ServerSideDataTable.dataTableDefaults.language.url = 'http://localhost/datatable/web/datatables.es.json';

        $.ServerSideDataTable.extraDataFormatHtml = function (data) {
            return '<div class="row">' +
                    '   <div class="col-md-11">' + data.nombre + '</div>' +
                    '</div>';
        };

        var table = $.ServerSideDataTable('{{ path('convocantes') }}', {
            "columns": [
                {"data": "codigo"},
                {"data": "nombre_simple"},
                {"data": "nombre"},
                {"data": "tipo_convocante"},
                {"data": "dependiente_de"},
                {"data": "nivel_entidad"},
                {"data": "tipo_entidad"}
            ],
            "order": [[1, "asc"]]
        }, {
            extraData: true,
            extraDataActions: true,
            rowActions: true
        });

    </script>

{% endblock %}

{% block body %}

    <div id="maincontent" class="container">

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered datatable">
                    <thead>
                    <tr>
                        <td class="col-xs-1"></td>
                        <td>Código</td>
                        <td>Nombre Simple</td>
                        <td>Nombre</td>
                        <td>tipo</td>
                        <td>Dependiente de</td>
                        <td>Nivel de Entidad</td>
                        <td>Tipo de Entidad</td>
                        <td class="col-xs-3"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nombre Simple</th>
                        <th>Nombre</th>
                        <th>tipo</th>
                        <th>Dependiente de</th>
                        <th>Nivel de Entidad</th>
                        <th>Tipo de Entidad</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
